[Unit]
Description=ToyVpnServer
After=network.target env.service

[Service]
ExecStart=/home/centos/src/ToyVpnServer/ToyVpnServer
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=toyvpn

[Install]
WantedBy=multi-user.target
